/*!
 * jQuery Mobile v1.0rc2
 * http://jquerymobile.com/
 *
 * Copyright 2010, jQuery Project
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 */
/*!
* jQuery Mobile Framework
* Copyright (c) jQuery Project
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Swatches */
/* F
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	 border: 1px solid #FFFFFF /*{f-bar-border}*/;
	background: #006633 /*{f-bar-background-color}*/;
    color:#FFFFFF;
	font-weight: bold;
	text-shadow:  none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #006633 /*{f-bar-background-start}*/), to( #006633 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image:         linear-gradient( #006633 /*{f-bar-background-start}*/, #006633 /*{f-bar-background-end}*/);
  text-shadow:none;
}

.ui-bar-f .ui-link-inherit {
	color:  	#C30008  /*{f-bar-color}*/;
}
.ui-bar-f .ui-link {
	color:  #C30008  /*{f-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-f .ui-link:hover {
	color:  #C30008  /*{f-bar-link-hover}*/;
}

.ui-bar-f .ui-link:active {
	color:  #C30008  /*{f-bar-link-active}*/;
}

.ui-bar-f .ui-link:visited {
    color:  #C30008  /*{f-bar-link-visited}*/;
}

.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
font-family: Helvetica /*{global-font-family}*/;
}
.ui-body-f,
.ui-dialog.ui-overlay-f {
	border: 1px solid  		#B3B3B3  /*{f-body-border}*/;
	color:  	#C30008  /*{f-body-color}*/;
	text-shadow: none;
	background: #8f9489 /*{f-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C8CFBF /*{f-body-background-start}*/), to( #555852 /*{f-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #C8CFBF /*{f-body-background-start}*/, #555852 /*{f-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:         linear-gradient( #C8CFBF /*{f-body-background-start}*/, #555852 /*{f-body-background-end}*/);
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	 font-family: Helvetica /*{global-font-family}*/;
}

.ui-btn-up-f {
	border: 1px solid  		#ccc  /*{f-bup-border}*/;
	background: #6eb707 /*{f-bup-background-color}*/;
	font-weight: bold;
	color:  					#FFFFFF  /*{f-bup-color}*/;
	text-shadow:none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #006633 /*{f-bar-background-start}*/), to( #006633 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
	}
    
    
.ui-btn-up-f a.ui-link-inherit {
	color:  					#FFFFFF  /*{f-bup-color}*/;
}

.ui-btn-hover-f {
	border: 1px solid  		#000000  /*{f-bhover-border}*/;
	background: #ffffff /*{f-bhover-background-color}*/;
	font-weight: bold;
	color: #000000  /*{f-bhover-color}*/;
	text-shadow: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{f-bup-background-start}*/), to( #ffffff /*{f-bup-background-end}*/)); /* Saf4+, Chrome */
}
.ui-btn-hover-f a.ui-link-inherit {
	color:  					#006633  /*{f-bhover-color}*/;
}
.ui-btn-down-f {
	border: 1px solid #63b707 /*{f-bdown-border}*/;
	background: #9cd448 /*{f-bdown-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{f-bdown-color}*/;
	text-shadow: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #006633 /*{f-bar-background-start}*/), to( #006633 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
}
.ui-btn-down-f a.ui-link-inherit {
	color:  					#2F3E46  /*{f-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	 font-family: Helvetica /*{global-font-family}*/;
	text-decoration: none;
}



/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-active {
	border: 1px solid #444444 /*{global-active-border}*/;
	background: #ffffff /*{global-active-background-color}*/;
	font-weight: bold;
	color: #000000 /*{global-active-color}*/;
	cursor: pointer;
	text-shadow:  0  /*{global-active-shadow-x}*/  -1px  /*{global-active-shadow-y}*/  1px  /*{global-active-shadow-radius}*/ #eeeeee /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{global-active-background-start}*/), to( #E0E0E0 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{global-active-background-start}*/, #E0E0E0 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{global-active-background-start}*/, #E0E0E0 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{global-active-background-start}*/, #E0E0E0 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{global-active-background-start}*/, #E0E0E0 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{global-active-background-start}*/, #E0E0E0 /*{global-active-background-end}*/);
	 font-family: Helvetica /*{global-font-family}*/;
}
.ui-btn-active a.ui-link-inherit {
	color: #000000 /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: .5em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .5em /*{global-radii-blocks}*/;
	border-top-left-radius: .5em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: .5em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .5em /*{global-radii-blocks}*/;
	border-top-right-radius: .5em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: .5em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .5em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .5em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: .5em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .5em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: .5em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .5em /*{global-radii-blocks}*/;
	border-top-left-radius: .5em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: .5em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .5em /*{global-radii-blocks}*/;
	border-top-right-radius: .5em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: .5em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .5em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .5em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .5em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .5em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: .5em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .5em /*{global-radii-blocks}*/;
	border-top-right-radius: .5em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .5em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .5em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: .5em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .5em /*{global-radii-blocks}*/;
	border-top-left-radius: .5em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: .5em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .5em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .5em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: .5em /*{global-radii-blocks}*/;
	-webkit-border-radius: .5em /*{global-radii-blocks}*/;
	border-radius: .5em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: 							.3;
}
.ui-disabled,
.ui-disabled a {
	pointer-events: none;
	cursor: default;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #FFFFFF /*{global-icon-color}*/;
	background: rgba(200,200,200,0.6) /*{global-icon-disc}*/;
	background-image:  url(images/icons-18-white.png)  /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #ffffff /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background-image: url(images/ajax-loader.png);
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-size: 35px 35px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: .5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .5em /*{global-radii-buttons}*/;
	border-top-left-radius: .5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: .5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .5em /*{global-radii-buttons}*/;
	border-top-right-radius: .5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: .5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: .5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: .5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .5em /*{global-radii-buttons}*/;
	border-top-left-radius: .5em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: .5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .5em /*{global-radii-buttons}*/;
	border-top-right-radius: .5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: .5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: .5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: .5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: .5em /*{global-radii-buttons}*/;
	border-top-right-radius: .5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: .5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: .5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: .5em /*{global-radii-buttons}*/;
	border-top-left-radius: .5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: .5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: .5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: .5em /*{global-radii-buttons}*/;
	-webkit-border-radius: .5em /*{global-radii-buttons}*/;
	border-radius: .5em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl, 
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom, 
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl, 
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom, 
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px  4px  /*{global-box-shadow-size}*/  				rgba(0,0,0,.3)  /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px  4px  /*{global-box-shadow-size}*/  				rgba(0,0,0,.3)  /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px  4px  /*{global-box-shadow-size}*/  				rgba(0,0,0,.3)  /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.4);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.4);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.4);
}

/* Focus state - set here for specificity
-----------------------------------------------------------------------------------------------------------*/

.ui-focus {
	-moz-box-shadow: 0px 0px 12px #ffffff /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #ffffff /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #ffffff /*{global-active-background-color}*/;
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus {
	outline-width: 2px;
}

/* Customize red button theme
 -----------------------------------------------------------------------------------------------------------*/


.ui-btn-up-r {
  border: 1px solid #e66a6a  /*{f-bup-border}*/;
  /*background: #2489CE /*{f-bup-background-color}*/;
  font-weight: bold;
  color:            white  /*{f-bup-color}*/;
  text-shadow:  0  /*{f-bup-shadow-x}*/  1px  /*{f-bup-shadow-y}*/  1px  /*{f-bup-shadow-radius}*/  #f6f6f6  /*{f-bup-shadow-color}*/;
    background: #ff0f0f; /* Old browsers */
    background: -moz-linear-gradient(top, #ff0f0f 0%, #f7656c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0f0f), color-stop(100%,#f7656c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7656c 0%,#ff0f0f 100%); /* Chrome10+,Safari5.1+ */

    
    }
.ui-btn-up-r a.ui-link-inherit {
  color:            #2F3E46  /*{f-bup-color}*/;
}

.ui-btn-hover-r {
  border: 1px solid     #e66a6a  /*{f-bhover-border}*/;
  /*background: #2489CE /*{f-bhover-background-color}*/;
  font-weight: bold;
  color:            #2F3E46  /*{f-bhover-color}*/;
  text-shadow:  0  /*{f-bhover-shadow-x}*/  1px  /*{f-bhover-shadow-y}*/  1px  /*{f-bhover-shadow-radius}*/  #fff  /*{f-bhover-shadow-color}*/;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e66a6a), to(#e66a6a));
    background: -moz-linear-gradient(top, #e66a6a, #e66a6a);  }
.ui-btn-hover-r a.ui-link-inherit {
  background: #e66a6a;
}
.ui-btn-down-r {
  border: 1px solid #e66a6a /*{f-bdown-border}*/;
  /*background: #2489CE /*{f-bdown-background-color}*/;
  font-weight: bold;
  color:            #2F3E46  /*{f-bdown-color}*/;
  text-shadow:  0  /*{f-bdown-shadow-x}*/  1px  /*{f-bdown-shadow-y}*/  1px  /*{f-bdown-shadow-radius}*/  #ffffff  /*{f-bdown-shadow-color}*/;
    background: #ff6d6d; /* Old browsers */
    background: -moz-linear-gradient(top, #ff6d6d 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6d6d), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff6d6d 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */ 
      
}
.ui-btn-down-r a.ui-link-inherit {
  color:            #2F3E46  /*{f-bdown-color}*/;
}
.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r {
    font-family: Helvetica /*{global-font-family}*/;
  text-decoration: none;
}
