/*-------------------- CSS for Student Registration ------------------*/

/* 
 * Look Up Classes Detail page Css 
 */



.look_detail_holder{
  float:left;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  text-shadow:none !important;
  border-radius:5px;
  font-size:14px;
  box-shadow: 1px 1px 4px #ffffff;
  -webkit-box-shadow: 1px 1px 4px #ffffff;
}

.look_detail_holder_classava{
  float:left;
  width:100%;
  text-shadow:none !important;
  border-radius:5px;
  font-size:14px;
  box-shadow: 1px 1px 4px #ffffff;
  -webkit-box-shadow: 1px 1px 4px #ffffff;
  margin:0;
  padding:0;
}

.head_holder{
    float:left;
    width:99.5%;
   padding:7px 0;
   border-top-left-radius:5px;
   border-top-right-radius:5px;

   background: -webkit-gradient(linear, left top, left bottom, from( #006633 /*{f-bar-background-start}*/), to( #006633 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
   border:#ffffff solid 1px;
   border-bottom:none;
   font-weight:bold;
   color:#ffffff;
   text-shadow:none;
}

.look_detail_head_left{
  float:left;
  width:55%;
  padding:5px 0 5px 5%;
  color:#ffffff;
}

.look_detail_head_right{
  float:right;
  width:35%;
  padding:5px 5% 5px 0;
  color:#ffffff;
}

.list_holder{
  float:left;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff),color-stop(100%,#ffffff));
    padding:7px 0;
    width:100%;
    border-top:#efefef solid 1px;
}

.list_holder_left{
  float:left;
  width:40%;
  padding:5px 0 5px 5%;
  font-weight:bold;
}

.list_holder_right{
  float:right;
  width:45%;
  padding:5px 0 5px 5%;
}


.week_day_look{
  float:left;
  width:94.5%;
  margin-left:5%;
}

.week_day{
  font-size:14px;
  font-weight:bold;
  padding:2px 0 2px 0;
  float:left;
  border:#ffffff solid 1px;
  border-left:none;
  margin:2px 0 2px 0px;
  width:13.5%;
  height:18px;
  text-align:center;
}

.week_day_icon_dark{  
  padding:2px 0 0 0;
  margin-right:5px;
  float:left;
  border:#ffffff solid 1px; 
  width:8%;
  height:8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f7f82), color-stop(12%,#7e7e80), color-stop(28%,#78787b), color-stop(45%,#707072), color-stop(63%,#656567), color-stop(81%,#58585b), color-stop(100%,#3f3f41));
}

.week_day_icon_white{  
  padding:2px 0 0 0;
  margin-right:5px;
  float:left;
  border:#ffffff solid 1px; 
  width:8%;
  height:8px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f2f2f3), color-stop(0%,#f2f2f3), color-stop(13%,#f1f1f2), color-stop(28%,#eeeeef), color-stop(40%,#ebebec), color-stop(51%,#e7e7e8), color-stop(63%,#e4e4e5), color-stop(77%,#dfdfe0), color-stop(88%,#dadada), color-stop(100%,#d8d8d9));
}

.button_right{
  margin:0 10px;
  text-align:center;
  text-decoration: none;
  float: right;
  text-shadow:none !important;
  font-size:14px;
    width:80px;
    text-align:center;
    padding:7px 0;
    box-shadow: 1px 1px 3px #ffffff;
    -webkit-box-shadow: 1px 1px 3px #ffffff;
    font-weight:bold;
    border-radius:2px;
  
}

.drop_class_btn {
  width:100px !important;
  color:#ffffff;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(21%,#2f2f2f), color-stop(42%,#2d2d2d), color-stop(65%,#2b2b2b), color-stop(82%,#282828), color-stop(100%,#262626)); /* Chrome,Safari4+ */
 }

.register_class_btn {
  color:#ffffff;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(9%,#ededed), color-stop(21%,#eaeaea), color-stop(44%,#e7e7e7), color-stop(51%,#e3e3e3), color-stop(65%,#dedede), color-stop(73%,#d8d8d8), color-stop(85%,#d4d4d4), color-stop(100%,#d2d2d2), color-stop(100%,#d2d2d2)); */
    background-color:#7b7878;
}

/*-------------------------------------------registration page------------------------------*/

.registartion_addclass{
  float:left;
  width:35%;
  margin-bottom:5px;
  font-weight:bold;
  text-align:right;
  text-shadow:none;
  font-size:16px;
  color:#ffffff;
}

.registartion_addclass input, .registartion_addclass_right input{
  background-color:white;
  text-shadow:none;
  color:black !important;
  box-shadow: inset 1px 1px 3px #A5A3A1;
    -webkit-box-shadow: inset 1px 1px 3px #A5A3A1;
}

.registartion_addclass_right{
  float:left;
  width:45%;
  margin-bottom:5px;
  margin-left:5%;
}

.reg-btn{
  -webkit-border-radius:4px;margin:0 0 15px 10%;
width:70%;
text-align:center;
height:17px;
color:#fff;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2EA5D9), color-stop(50%,#63A5CE), color-stop(100%,#ffffff));
font-weight:normal;
border:1px solid #63A5CE;
cursor:pointer;
line-height:15px;
font-size:18px;
padding:9px 0;
box-shadow: 1px 1px 3px #ffffff;
-webkit-box-shadow: 1px 1px 3px #ffffff;}

.reg-btn:active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#63A5CE), color-stop(100%,#2EA5D9));}


/*-------------------- CSS for Classroom Availability ------------------*/

.clear{
  clear:both;
}

#AttributeListPopUp {
    position:absolute;
    z-index:9999;
    display:none;
    color:#ffffff;
    width:100%;
    height:100%;
    margin:0;
    /*-webkit-border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -webkit-box-shadow:0 3px 7px #444444;
    border:10px  solid RGBA(25, 25, 25,0.3);*/
}



#AttributeListPopUpMask {
    position:absolute;
    display:none;
    top:0;
    left:0;
    background-color:#ffffff;
    display:none;
    z-index:9000;
}

#AttributeListPopUp_attrib {
    position:absolute;
    width:90%;
    height:90%;
    z-index:6000;
    display:none;
    color:#ffffff;
    -webkit-border-radius:15px;
    -webkit-box-shadow:0 3px 7px #444444;
    border:10px  solid RGBA(25, 25, 25,0.3);
}

/************************ emergency contacts***********************/

.update-holder{
float:left;
width:100%;
margin-top:5px;
font-weight:bold;
text-shadow:none !important;
color:#ffffff;
}

.reg-update-holder{
float:left;
width:100%;
margin-top:3px;
font-weight:bold;
text-shadow:none !important;

}


.update-holder input{
    width:94% !important;
    -webkit-appearance:none;
    color: #666;
    padding: 6px 3%;
    font-size:13px;
    background-color: white;
    box-shadow: inset 1px 1px 3px #A5A3A1;
    -webkit-box-shadow: inset 1px 1px 3px #A5A3A1;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.update-holder textarea{
    width:94% !important;
    color: #666;
    padding: 3px 3%;
    font-size:13px;
    background-color: white;
    box-shadow: inset 1px 1px 3px #A5A3A1;
    -webkit-box-shadow: inset 1px 1px 3px #A5A3A1;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    -webkit-appearance:none;
}

 

.emergency_container
{
    border-radius:5px;
    margin:5px 0 10px 0;
    float:left;
    width:100%;
    font-size:14px;
    text-shadow:none !important;
    box-shadow: 1px 1px 4px #ffffff;
    -webkit-box-shadow: 1px 1px 4px #ffffff;
    overflow:hidden;
}

.emergency_container_inside
{
    float:left;
    width:100%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:#63A5CE;
}

.emergency_container_second a{
  color:black;
}
.emergency_name{
  float:left;
  overflow:hidden;
  text-overflow:ellipsis;
  padding:11px 5%;
  width:90%;
  font-size:14px;
  font-weight:bold;
  color:#ffffff;
}

/*.delete_icon{
  width:25px;
  height:20px;
  float:right;
  background:url('../../images/cross-icon.png')no-repeat 0 0;
  background-size:cover;
  margin-right:2%;
 }*/
 
/* .call_button{
   background:url('../../images/call.png')no-repeat 0 0;
   width:23px;
   height:23px;
   background-size:25px;
   float:right;
 }*/

.emergency_container_first
{
    float:left;
    width:99.5%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background: -webkit-gradient(linear, left top, left bottom, from( #006633 /*{f-bar-background-start}*/), to( #006633 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
      
    border-bottom:none;
    
}


.emergency_address_container
{
    float:left;
  width:100%;
  margin-bottom:10px;
  text-shadow:none !important;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  font-size:14px;
  box-shadow: 1px 1px 4px #ffffff;
  -webkit-box-shadow: 1px 1px 4px #ffffff;
}
.emergency_address_inside
{
    float:left;
    width:99.5%;
   padding:7px 0;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
   background: -webkit-gradient(linear, left top, left bottom, from( #006633 /*{f-bar-background-start}*/), to( #006633 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
    
   border-bottom:none;
   font-weight:bold;
   text-shadow:none !important;
}


.emergency_address_first
{
    float:left;
    width:70%;
    text-align:center;
    color:#ffffff;
    font-weight:bold;
    padding:11px 0;
}
/*
.emergency_address_second{
  float:left;
    width:100%;
    text-align:center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f2f2f3), color-stop(0%,#f2f2f3), color-stop(13%,#f1f1f2), color-stop(28%,#eeeeef), color-stop(40%,#ebebec), color-stop(51%,#e7e7e8), color-stop(63%,#e4e4e5), color-stop(77%,#dfdfe0), color-stop(88%,#dadada), color-stop(100%,#d8d8d9));
    line-height:15px;
    border-top:#efefef solid 1px;
}*/


.emergency_left
{
    float:left;
    width:33%;
    padding-left:3%;
    color:black;
    font-weight:bold;
}

.emergency_right
{
   float:right;
   width:55%;
   margin-right:5%;
   color:black;   
}

.emergency_container_second
{
    float:left;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
    padding:7px 0;
    width:100%;
    border-top:#efefef solid 1px;
    line-height:15px;
}


.emergency_address_second
{
    float:left;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f2f2f3), color-stop(0%,#f2f2f3), color-stop(13%,#f1f1f2), color-stop(28%,#eeeeef), color-stop(40%,#ebebec), color-stop(51%,#e7e7e8), color-stop(63%,#e4e4e5), color-stop(77%,#dfdfe0), color-stop(88%,#dadada), color-stop(100%,#d8d8d9));
    padding:7px 0;
    width:100%;
    border-top:#efefef solid 1px;
    line-height:15px;
    text-align:center;
}

.emergency_container_last
{
    float:left;
    background-color:white;
    width:100%;
    border-top:black solid 1px;
    background: #6fa8dc;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

.emergency_last_field
{
    float:left;
    width:40%;
    text-align:center;
    padding:3px 0;
    background-color:green;
    color:white;
    border-radius:4px;
    border:black solid 1px;
    text-align:center;
}

.call_holder{
  float:left;
  width:100%;
  margin-top:4px;
}
.number_holder{
   float:left;
  width:100%;
  margin-top:4px;
  }

.emergency_remove_btn
{
    float:right;
    width:80px;
    text-align:center;
    padding:7px 0;
    /*background: url('../../images/trash.png')no-repeat 10px 40%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2EA5D9), color-stop(50%,#63A5CE), color-stop(100%,#ffffff));
    background-size:15px,100%*/
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(21%,#2f2f2f), color-stop(42%,#2d2d2d), color-stop(65%,#2b2b2b), color-stop(82%,#282828), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    color:white;
    box-shadow: 1px 1px 3px #ffffff;
    -webkit-box-shadow: 1px 1px 3px #ffffff;
    text-shadow:none;
    font-weight:bold;
    border-radius:2px;
}

.emergency_edit_btn{
   float:left;
    width:80px;
    text-align:center;
    padding:7px 0;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(9%,#ededed), color-stop(21%,#eaeaea), color-stop(44%,#e7e7e7), color-stop(51%,#e3e3e3), color-stop(65%,#dedede), color-stop(73%,#d8d8d8), color-stop(85%,#d4d4d4), color-stop(100%,#d2d2d2), color-stop(100%,#d2d2d2)); */
    background-color:#7b7878;
    color:white;
    box-shadow: 1px 1px 3px #ffffff;
    -webkit-box-shadow: 1px 1px 3px #ffffff;
    text-shadow:none;
    font-weight:bold;
    border-radius:2px;
}

.add_details_btn{
  float:left;
  width:45%;
  -webkit-border-radius:5px!important;
  text-shadow:none!important;
}

.reset_details_btn{
  float:right;
  width:45%;
  -webkit-border-radius:5px!important;
}

.left
{
  float:left;
}

.right
{
  float:right;
}
.emergency_container_second .edit_btn,
.emergency_container_second .delete_btn
{
  width:30%;
  max-width:130px;
  text-shadow:none!important;
}


.emergency_container_second .edit_btn .ui-btn-inner,
.emergency_container_second .delete_btn .ui-btn-inner
{
  padding:8px 10px;
}

.reg-update-holder .edit_btn,
.reg-update-holder .delete_btn{
  width:45%;
  max-width:130px;

}

.reg-update-holder .edit_btn .ui-btn-inner,
.reg-update-holder .delete_btn .ui-btn-inner
{
 padding:8px 10px;
}


.emergency_container_second .edit_btn.left
{
  margin-left:10px;
}

.emergency_container_second .delete_btn.right
{
  margin-right:10px;
}



.emergency_link
{
    text-decoration:none !important;
    color:black !important;
    display:block;
}

.add_new_holder{
  margin-top:5px; 
  float:left;
  width:100%;  
  }

.add_new_btn{
    text-decoration:none;
    text-align:center;
    width:100%;
    padding:8px 0;
    display:block;
    float:left;
    color:black!important;
    background:url('../../Framework/images/right_arrow.png')no-repeat 96% 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#65a6cf), color-stop(0%,#65a6cf), color-stop(0%,#65a6cf), color-stop(13%,#67a7cf), color-stop(29%,#6aa9d1), color-stop(42%,#70add4), color-stop(58%,#76b0d6), color-stop(77%,#79b2d7), color-stop(89%,#7fb5da), color-stop(100%,#ffffff));
    background-size:9px,100%;
    font-weight:bold;
    text-shadow:none;
    font-size:14px;
    border-radius:5px;
    box-shadow: 1px 1px 4px #ffffff;
    -webkit-box-shadow: 1px 1px 4px #ffffff;
}

/*--------------------------------------------------class avaliability---------------------------*/

.classava_detail_holder{
  float:left;
 width:92%;
 background-color:white;
 border-radius:5px;
 margin:10px 4%;
 text-shadow:none !important;
 text-align:center !important;
}

.classava_head_holder{
  float:left;
  width:99.5%;
  padding:7px 0;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  background:-webkit-gradient(linear, left top, left bottom, from( #006633 /*{f-bar-background-start}*/), to( #006633 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
  border-bottom:none;
  font-weight:bold;
  color:#ffffff;
  font-size:14px;
}

.classava_add_attrib{
  float:left;
   background:url('../../images/plus_icon.png')no-repeat 27% 48%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f2f2f3), color-stop(0%,#f2f2f3), color-stop(13%,#f1f1f2), color-stop(28%,#eeeeef), color-stop(40%,#ebebec), color-stop(51%,#e7e7e8), color-stop(63%,#e4e4e5), color-stop(77%,#dfdfe0), color-stop(88%,#dadada), color-stop(100%,#d8d8d9));
   background-size:12px,100%;
   padding:8px 0;
   width:100%;
   border-top:#efefef solid 1px;
   color:black;
   font-size:14px;
}

.added_attrib{
   float:left;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f2f2f3), color-stop(0%,#f2f2f3), color-stop(13%,#f1f1f2), color-stop(28%,#eeeeef), color-stop(40%,#ebebec), color-stop(51%,#e7e7e8), color-stop(63%,#e4e4e5), color-stop(77%,#dfdfe0), color-stop(88%,#dadada), color-stop(100%,#d8d8d9));
   width:100%;
   line-height:20px;
   border-top:#efefef solid 1px;
   color:black;
   font-size:14px;
}

.classava_week_day{
  font-size:14px;
  font-weight:bold;
  padding:4px 0 0 0;
  float:left;
  border:#ffffff solid 1px;
  border-left:none;
  margin:2px 0 2px 0px;
  width:20px;
  height:18px;
  text-align:center;
}

.week_day_bg_color {
  font-size:14px;
  font-weight:bold;
  padding:2px 0 2px 0;
  float:left;
  border:#ffffff solid 1px;
  margin:2px 0 2px 0px;
  width:13.5%;
  height:18px;
  text-align:center;
  background:-webkit-gradient(linear, left top, left bottom, from( #006633 /*{f-bar-background-start}*/), to( #006633 /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
  color: #ffffff;
  border-left:none;
}

.classava_list_holder{
   float:left;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f2f2f3), color-stop(0%,#f2f2f3), color-stop(13%,#f1f1f2), color-stop(28%,#eeeeef), color-stop(40%,#ebebec), color-stop(51%,#e7e7e8), color-stop(63%,#e4e4e5), color-stop(77%,#dfdfe0), color-stop(88%,#dadada), color-stop(100%,#d8d8d9));
     width:100%;
     padding:4px 0;
    border-top:#efefef solid 1px;
}
.classava_list_holder_left{
    float:left;
    width:90%;
    padding:0 0 0 10%;    
}

.classava_list_holder_left div{
  display:inline;
}

.classava_list_holder_right{
  float:left;
  width:60%;
}


.popup_btn{
  margin:0 auto;
  width:50%;
  text-align:center;
  background-color:#7b7878;
  text-shadow:none;
  padding:8px 0;

  color:white;
    box-shadow: 1px 1px 3px #ffffff;
    -webkit-box-shadow: 1px 1px 3px #ffffff;
    font-weight:bold;
    border-radius:2px;
}

.checkbox_popup{
  width:25px;
  float:left;
  -webkit-appearance: none;
  height:23px;
  border:none;
  background:url('../images/checkbox-unchecked-gray-th.png')no-repeat 0 0;
  background-size:23px;
}

.checkbox_popup:checked{
 background:url('../images/checkbox-checked-gray-th.png')no-repeat 0 0;
  background-size:23px;
}

.popup_content{
  
  padding:7px 0 0 0;
  float:left;
  color:#666666;
}


/*---------------------------- css for Contacts ----------------------------*/

.emergency_container_second_address{
  float:left;
    width:100%;
    text-align:center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f2f2f3), color-stop(0%,#f2f2f3), color-stop(13%,#f1f1f2), color-stop(28%,#eeeeef), color-stop(40%,#ebebec), color-stop(51%,#e7e7e8), color-stop(63%,#e4e4e5), color-stop(77%,#dfdfe0), color-stop(88%,#dadada), color-stop(100%,#d8d8d9));
    line-height:15px;
    border-top:#efefef solid 1px;
}

.emergency_left_address{
  float:left;
    width:40%;
    padding-top:3px;
}
.emergency_right_address{
  float:left;
    width:50%;
   white-space: nowrap;
   text-overflow:ellipsis;
   overflow:hidden;
   padding-top:3px;
   font-weight:normal !important;
}

.emergency_container_last
{
    float:left;
    background-color:white;
    width:100%;
}

/*--------------------------------------------------emergeny-additional----------------------------------------------*/

.emergency_container_additional{
    float:left;
    width:100%;
    text-align:center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f2f2f3), color-stop(0%,#f2f2f3), color-stop(13%,#f1f1f2), color-stop(28%,#eeeeef), color-stop(40%,#ebebec), color-stop(51%,#e7e7e8), color-stop(63%,#e4e4e5), color-stop(77%,#dfdfe0), color-stop(88%,#dadada), color-stop(100%,#d8d8d9));
    line-height:15px;
    border-top:#efefef solid 1px;
     position:relative;
}
.address_additional{
    float:left;
    width:82%;
    padding:7px 2%;
    text-decoration:none;
    color:black !important;
}
.emergency_left_additional{
    float:left;
    width:32%;
    padding-top:3px;
    text-align:left;
    margin-left:2%;
    font-size:13px;
}
.emergency_right_additional{
    float:left;
    width:65%;
    /*white-space: nowrap;
     text-overflow:ellipsis;
     overflow:hidden;*/
    padding-top:3px;
    font-weight:normal !important;
    text-align:left;
   font-size:13px;
    
}

.emergency_btn_holder{
   /* position:absolute;*/
    clear:both;
    display:none;
    float:right;
}

/*------------------------------------------------------------------------------------------*/

.address_phonenumber{
  float:left;
  width:96%;
  padding:7px 2%;
  text-decoration:none;
  color:black !important;
}

.call_button {
background: url('../../images/phone_icon.png')no-repeat center center;
width: 15px;
height: 17px;
background-size: contain;
float: left;
}


.remove_button{
  background:url('../../images/remove_circiled.png')no-repeat 0 0;
   width:23px;
   height:23px;
   background-size:contain;
   float:left;
   padding-top:3px;
}

.edit_button{
    background:url('../../images/file_edit.png')no-repeat 0 0;
    width:23px;
    height:23px;
    background-size:contain;
    float:right;
}

.emergency_last_field
{
    float:left;
    width:40%;
    text-align:center;
    padding:3px 0;
    background-color:green;
    color:white;
    border-radius:4px;
    border:black solid 1px;
    text-align:center;
}

.add_new_add{
  margin-top:15px;
  float:left;
  width:98%;
  padding:0 1%;
}
/*------------------------------------------buttons css-------------------------------------------*/
.emergency_remove_btn{
      float:right;
    width:80px;
    text-align:center;
    padding:7px 0;
    /*background: url('../../images/trash.png')no-repeat 10px 40%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2EA5D9), color-stop(50%,#63A5CE), color-stop(100%,#ffffff));
    background-size:15px,100%*/
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(21%,#2f2f2f), color-stop(42%,#2d2d2d), color-stop(65%,#2b2b2b), color-stop(82%,#282828), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    color:white;
    box-shadow: 1px 1px 3px #ffffff;
    -webkit-box-shadow: 1px 1px 3px #ffffff;
    text-shadow:none;
    font-weight:bold;
    border-radius:2px;
    margin-right:10%;
}

.emergency_update_btn, .update_address_btn{
     float:left;
    min-width:80px;
    text-align:center;
    padding:7px 5px;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(9%,#ededed), color-stop(21%,#eaeaea), color-stop(44%,#e7e7e7), color-stop(51%,#e3e3e3), color-stop(65%,#dedede), color-stop(73%,#d8d8d8), color-stop(85%,#d4d4d4), color-stop(100%,#d2d2d2), color-stop(100%,#d2d2d2)); */
    background-color:#7b7878;
    color:white;
    box-shadow: 1px 1px 3px #ffffff;
    -webkit-box-shadow: 1px 1px 3px #ffffff;
    text-shadow:none;
    font-weight:bold;
    border-radius:2px;
    margin-left:10%;
}

.emergency_add_btn{
  width:80%; 
  margin:0 auto;
  text-align:center; 
  padding:7px 0;
  background-color:#7b7878; 
  box-shadow: 1px 1px 3px #ffffff;
    -webkit-box-shadow: 1px 1px 3px #ffffff;
  color:white; 
  border-radius:2px;  
  margin-top:5px; 
  text-shadow:none;
  font-weight:bold;
}

.additional_number{
  float:left;
  width:100%;
}

.additional_btn{
  width:80%; 
  margin:0 auto;
  text-align:center; 
  padding:7px 0;
  background:url('../../images/plus_icon_white.png')no-repeat 13% 48%, #7b7878;
  background-size:11px, 100%;
  color:white;
  border-radius:2px;  
  margin-top:5px; 
  text-shadow:none;
  font-weight:bold;
}

.additional_container{
    float:left;
    width:100%;
    font-size:14px;
    font-weight:bold;
    margin:5px 0;
   text-shadow:none;
}

/*------------------------------------------buttons css-------------------------------------------*/
.emergency_link
{
    text-decoration:none !important;
    color:black !important;
    display:block;
}
.add_new_btn{
    text-decoration:none;
    text-align:center;
    width:100%;
    padding:7px 0;
    display:block;
    float:left;
    color:black!important;
    background:url('../../Framework/images/right_arrow.png')no-repeat 96% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#65a6cf), color-stop(0%,#65a6cf), color-stop(0%,#65a6cf), color-stop(13%,#67a7cf), color-stop(29%,#6aa9d1), color-stop(42%,#70add4), color-stop(58%,#76b0d6), color-stop(77%,#79b2d7), color-stop(89%,#7fb5da), color-stop(100%,#ffffff));
    background-size:9px,100%;
    font-weight:bold;
    text-shadow:none;
    border-radius:4px;
    box-shadow: 1px 1px 3px #ffffff;
    -webkit-box-shadow: 1px 1px 3px #ffffff;
}

.add_address_btn{
  float:left;
  width:45%;
 /* margin:0 auto;
 text-align:center; 
 padding:8px 0;
 background-color:#7b7878;
 color:black;
 border-radius:2px;  
 margin-top:5px; */
 text-shadow:none!important;
 font-weight:bold;
}

.reset_btn{
   float:right;
   text-shadow:none;
   font-weight:bold;
   text-align:center;
    width:45%;
/* background: url('../../images/trash.png')no-repeat 10px 40%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2EA5D9), color-stop(50%,#63A5CE), color-stop(100%,#ffffff));
   background-size:15px,100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(21%,#2f2f2f), color-stop(42%,#2d2d2d), color-stop(65%,#2b2b2b), color-stop(82%,#282828), color-stop(100%,#262626)); color:white;  box-shadow: 1px 1px 3px #ffffff;
   -webkit-box-shadow: 1px 1px 3px #ffffff;
  
   border-radius:2px;
    margin-top:5px; */
}


.additional_detail_hldr{
 float:left;
 width:94%;
 padding:5px 3%;
 border:#efefef solid 1px;
 border-radius:4px;
 margin-bottom:8px;
}

.additional_detail_hldr1{
  clear:both;
 float:left;
 width:94%;
 padding:5px 3%;
 border-radius:4px;
 margin-bottom:8px;
}

.rounded_corners
{
  -webkit-border-radius:5px;
   overflow:hidden!important;
}
.classava_popup_holder{
width:100%;
float:left;

}

#classroomWeekday .ui-btn-inner
{
  padding:10px 0px;
  width:50px;
  text-align:center;
}

.cb10
{
  clear:both;
  height:10px;
}

.clsasava_select_holder{
  float:left;
  width:100%;
  clear:both;
}

.red{
  color:red;
}

/*Emergency Contacts Styling*/
.contact-head-name
{
  width:70%;
  float:left;
}

.contact-action-btns
{
  width:28%;
  float:right;
  text-align:right;
}

.contact-action-btns .ui-btn-corner-all,
.edit_delete_toggle.ui-btn-corner-all {
-webkit-border-radius: 20px/*{global-radii-buttons}*/;
border-radius: 20px /*{global-radii-buttons}*/;
}

.contact_edit_btn, .contact_delete_btn
{
  width:80px;
  float:right;
  text-shadow:none;
}

.lookup_container {
background: rgba(255, 255, 255, .3);
width: 100%;
padding: 1px 0;
-webkit-border-radius: 5px;
}

.lookup_heading
{
  display:none
}

.lookup_container .lookup_heading
{
  display:block;
  font-size:15px;
  text-align:center;
  font-weight:bold;
  margin:10px;
  color:#444;
  text-shadow:none;
}

.lookup_container .lookup_btn_h
{
  display:none;
}
.lookup_btn_h
{
  display:block;
}

#showLookupClassesFilterFormData
{
  display:none;
}

.lookup_container #showLookupClassesFilterFormData
{
  display:block;
}


/** CSS for autocompleter **/

.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:5px 5px; white-space:nowrap; overflow:hidden; color:#3399FF; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
