/* 
 * Emergency Page Css set heading class
 *
 */
#emergency_Numbers h3 { margin:0 0 -7px 0; }
#ul_emergency_Numbers h3 { margin:0 0 8px 0; }
#ul_emergency_Numbers a { padding-top:4px; padding-bottom:1px; } 
#divPublic_H3 h3 { padding-bottom:8px; }
/* 
 * Event Page Css for set heading class
 *
 */
#ul_event_list a{ padding-top:0px; padding-bottom:0px; }

/* 
 *School listing page Css Start 
 *
 */
#ul_school_list a{ padding-top:0px; padding-bottom:0px; }

/* 
 *School Courses listing page Css Start 
 *
 */
#ul_course_list a { padding-top:0px; padding-bottom:0px; }
#ul_relevent_course_list a { padding-top:0px; padding-bottom:0px; }
#ul_bookmarks a { padding-top:0px; padding-bottom:0px; }

/* 
 *Directory listing page Css Start 
 *
 */
.ui-listview-filter { margin:0px; }



/* 
 *Calendar Event Detail page Css 
 *
 */
#calenderEventDetails .ui-body-f { border:none; }

.ui-btn-inner { padding:.5em 10px;}
