

.btn, input[type=button], input[type=submit]
{
  padding: 10px;
  text-align: center;
  color: white;
  font: bold 14px/15px Arial,Helvetica,sans-serif;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border:0px;
}



.btn.purple,input[type=button].purple, input[type=submit].purple
{
  width:100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6A19E3), color-stop(50%,#7D4AEC), color-stop(51%,#7437ED), color-stop(100%,#AF92F4));
  padding: 9px;
}

.btn.purple:active,input[type=button].purple:active, input[type=submit].purple:active,
.btn.purple_active,input[type=button].purple_active, input[type=submit].purple_active
{
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a19e3), color-stop(50%,#7d4aec), color-stop(100%,#7d4aec));

}


/* common css */
body
{

  font: normal 13px Arial,Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEBF7), to(#B4B1BA));
}

.container
{
 
  padding:10px 3%;
  float:left;
  width:94.5%;
  background:#fff;
}


.title
{
 font: bold 14px/16px Arial,Helvetica,sans-serif;
 color:#840000;
}

.bold { font-weight: bold;}

.p20{padding:20px!important;}

.p15{padding:15px!important;}

.pb5{padding-bottom:5px!important;}

.floatleft{ float:left;}

.floatright{ float:right;}

.no_bg {background:none!important}
 
.cb10
{
  margin:10px;
  clear:both;
}

.cb20
{
  margin:20px;
  clear:both;
}
.ellipses
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
 .item_con
{
  width: 94.5%;
  float: left;
  padding: 10px 3%;
  background:#fff;
  border-bottom:1px solid #ccc;
}
.frwd_item_con
{
 width:94.5%;
 float: left;
 padding:5px 3% 5px 3%;
 background: url(../imgs/r-icon_carrot.png) no-repeat scroll 98% 50%, #fff;
 background-size: 9px 14px, 100%;
 border-bottom:1px solid #ccc;
 color:#7a7676;
}


/* common css End */


/*css for Video and Video Detail  */ 

.video_summ
{
 width: 70%;
 float:left;
}

.video_img
{
width:80px;
float:left;
margin:5px 10px 0px 0px;

}
.video_img img
{
width: 80px;
height: 60px;
border: 2px solid white;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

}
.selected_video_header
{
 width:100%;
 float: left;
}


.video_title
{
 width: 70%;
 float:left;
 color:#9b60fc;
 font: bold 14px/18px Arial,Helvetica,sans-serif;
    padding-top:5px;
 
}

.watch_video
{
 width:100%;
 float:left;
 margin:20px 0px;
 
}
.video_des
{
float:left;
width:100%;
color: #7A7676;
}

/*css for Video and Video Detail End */ 


/*css for Video Gallery */

.videos_con
{
 width:100%;
 float: left;
 padding:10px 0 5px 0;
 background:#fff;
 border-bottom: 1px solid #ccc;
 
}
.video_item
{

 width:29.3%;
 float: left;
 margin-left:3%;
 font: bold 11px/12px Arial,Helvetica,sans-serif;
 text-align:center;
 color:#9B60FC;

}

.video_item img
{
 width: 90px;
 height: 60px;
 border: 2px solid white;
 box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
 margin-bottom:10px;

}

/*css for Video Gallery End*/


/* Css for image*/

  .item_con.image
  {
  height:60px;
  }
  .image_con
  {
  width: 60px;
  float: left;
  margin: 0px 10px 0px 0px;

  }
  .image_con img 
  {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 10px;
  }
  .image_title 
  {
  color:#840000;
  width: 77%;
  float: left;
  margin: 20px 0px;
  }

/* Css for image End*/

/* css for image gallery */

.gallery_item_con
{
 background:#fff;
 width:100%; 
 float:left; 
  height:70px;
  padding-top:10px; 
}

.gallery_item
{
 width:23%;
 margin-left:2%;
 float:left;
 height:70px;
 text-align:center;

}
.gallery_item img
{
 width:70px;
 
}
/* css for image gallery End */

